/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
body {
  background-color: #ebebeb;
}

/* line 22, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
header {
  background-color: #6b7ee5;
  color: #fff;
  height: 205px;
}
/* line 26, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
header i {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  margin-top: 10px;
}
/* line 32, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
header h1 {
  margin: 0 auto;
  line-height: 35px;
  font-size: 2.6em;
  text-align: center;
}

/* line 55, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .footer_border_top {
  width: 85%;
  height: 3px;
  background: #555;
  margin: 0 auto;
}
/* line 61, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .sns_block {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 2em;
  margin-top: .8em;
}
/* line 67, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .sns_block .sns {
  border-radius: 5px;
}
/* line 69, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .sns_block .sns a {
  color: #fff;
}
/* line 73, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .sns_block .twitter {
  background-color: #74c1f8;
}
/* line 76, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .sns_block .facebook {
  background-color: #668ad8;
}
/* line 79, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .sns_block .hatena {
  background-color: #6eaff3;
}
/* line 83, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .info_block {
  margin: 1.2em auto 0;
  text-align: center;
  width: 60%;
}
/* line 87, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .info_block a {
  margin-right: 3px;
  color: #555;
}
/* line 90, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .info_block a i {
  margin-right: 2px;
}
/* line 95, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
footer .footer_copy {
  font-size: 12px;
  text-align: center;
  margin: .5em auto;
}

/* line 102, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
section, footer {
  width: 94%;
  margin: 0 auto;
  max-width: 900px;
}
/* line 106, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
section h2, footer h2 {
  color: #4a4949;
  text-align: center;
  margin: 45px auto 6px;
  font-size: 28px;
  font-weight: bold;
}

/* line 115, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
#keywords_scroll_block {
  width: 94%;
  margin: 0 auto;
}
/* line 118, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
#keywords_scroll_block .chip {
  background-color: #fff;
}

/* line 146, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.ziguzagu_block {
  text-align: center;
}
/* line 148, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.ziguzagu_block img {
  width: 15%;
  max-width: 90px;
}

/* line 154, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
#service_index {
  width: 94%;
  margin: 0 auto;
  column-count: 2;
  text-align: justify;
  max-width: 900px;
}
/* line 160, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
#service_index .mix {
  display: none;
}

/* line 165, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.container {
  max-width: 900px !important;
}

/* line 168, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service {
  display: inline-block;
  padding: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
/* line 174, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block {
  margin: .3em;
}
/* line 176, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .row.service_name_block {
  margin: 0 0 .1em;
}
/* line 178, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .row.service_name_block .service_name {
  font-size: 1.1em;
  margin: .2em auto;
}
/* line 183, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card {
  margin-top: 0;
  border-radius: 4px 4px 0 0;
}
/* line 186, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card .thumbnail {
  max-width: 100%;
  border-bottom: 1px solid #ccc;
}
/* line 189, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card .thumbnail .ogp_img {
  border-radius: 4px 4px 0 0;
  max-width: 100%;
}
/* line 194, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card .card-content {
  padding: 5px;
  color: #4a4949;
}
/* line 197, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card .card-content p {
  word-break: break-all;
  margin: .2em auto;
  color: #292F33;
}
/* line 202, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card .card-content .service_title {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
}
/* line 208, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card .card-content .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
/* line 214, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card .card-content .chip {
  height: auto;
  line-height: normal;
  padding: 4px 5px;
  font-size: 8px;
  margin-right: 0;
}
/* line 221, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card .card-content .domain {
  text-align: right;
}
/* line 223, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card .card-content .domain .favicon {
  width: 16px;
}
/* line 226, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.service .service_block .card .card-content .domain a {
  color: #8899A6;
}

/* line 235, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.search_ogp {
  background-color: #fff;
  margin: -120px 20px 20px;
  padding: 2%;
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
/* line 242, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.search_ogp #request_ajax_update .row {
  margin-bottom: 0;
  margin-top: 15px;
}
/* line 247, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.search_ogp #example_ogp, .search_ogp #ogp_result {
  position: relative;
}
/* line 249, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.search_ogp #example_ogp .success, .search_ogp #ogp_result .success {
  background-color: #cce5ff;
  color: #004085;
  border-color: #b8daff;
  padding: .75rem 1.25rem;
}
/* line 255, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.search_ogp #example_ogp .danger, .search_ogp #ogp_result .danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: .75rem 1.25rem;
}
/* line 262, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.search_ogp #example_ogp .card-image img, .search_ogp #ogp_result .card-image img {
  height: 214px;
}
/* line 266, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.search_ogp #example_ogp form, .search_ogp #ogp_result form {
  text-align: right;
}
/* line 269, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
.search_ogp #example_ogp #loading, .search_ogp #ogp_result #loading {
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
}

/* line 280, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
#about p {
  line-height: 1.7;
  padding: 15px 20px;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1em;
}

@media screen and (min-width: 700px) {
  /* line 290, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
  #service_index {
    column-count: 3;
  }

  /* line 293, /Users/hajime/programing/project/metascope/app/assets/stylesheets/application.css.scss */
  .search_ogp {
    max-width: 450px;
    margin: -120px auto 20px !important;
  }
}
