<!DOCTYPE html>
<html>
  <head>
    <title>サイトのMetaTag一覧 | メタギャラリー</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.0/mixitup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-simplyscroll/2.1.1/jquery.simplyscroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <i class="fas fa-code"></i>
      <h1>Metagallery</h1>
    </header>
    <%= yield %>
    <footer>
      <div class="ziguzagu_block">
        <img src="ziguzagu.png">
      </div>
      <!-- <div class="footer_border_top"></div> -->
      <ul class="sns_block row">
        <li class="col s4">
          <div class="twitter sns">
            <a href="https://twitter.com/share?url=http://www.metagallery.jp&text=サイトのMetaTag一覧 | メタギャラリー" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </li>
        <li class="col s4">
          <div class="facebook sns">
            <a href="https://www.facebook.com/share.php?u=http://www.metagallery.jp/&text=サイトのMetaTag一覧 | メタギャラリー" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </li>
        <li class="col s4">
          <div class="hatena sns">
            <a href="http://b.hatena.ne.jp/entry/http://www.metagallery.jp/" class="hatena-bookmark-button" data-hatena-bookmark-layout="touch" title="このエントリーをはてなブックマークに追加" target="_blank">
              B!
            </a>
          </div>
        </li>
      </ul>
      <div class="info_block">
        <a href="https://twitter.com/hatsu_38" target="_blank"><i class="fas fa-play-circle"></i>運営者</a>
      </div>
      <p class="footer_copy">
      © Copyright 2018 hastu All rights reserved.
      </p>
    </footer>

  </body>
</html>
